<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let celular of celulares" [ngClass]="{'oferta': celular.oferta}">
            <td><img width="90" class="img-thumbnail" [src]="celular.imagen" [alt]="celular.modelo"></td>
            <td>{{ celular.marca }}</td>
            <td>{{ celular.modelo }}</td>
            <td>{{ celular.precio | currency }}</td>
            <td>
                <span *ngIf="celular.stock >= 1">{{ celular.stock }}</span>
                <span *ngIf="celular.stock <1" class="badge text-bg-warning">SIN STOCK</span>
            </td>
            <td>
                <app-input-integer [(cantidad)]="celular.cantidad" [max]="celular.stock"  *ngIf="celular.stock" (maxAlcanzado)="maxAlcanzado($event)"></app-input-integer>
            </td>
            <td>
             <button class="btn btn-primary" (click)="agregarAlCarrito(celular)" >Comprar</button>
         </td>  
        </tr>
    </tbody>
</table>
