<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @for (celular of celulares; track celular.modelo) {
            <tr>
                
    <td><img [src]="celular.imagen" [alt]="celular.modelo"></td>
    <td>{{ celular.marca }}</td>
    <td>{{ celular.modelo}}</td>
    <td>{{ celular.precio }}</td>
    @if (celular.stock >0) {
      <td>{{ celular.stock }}</td>
    } @else {
      <td>SIN STOCK</td>
    }
  </tr>
} @empty {
  <tr>
    <td colspan="4">No hay celulares para mostrar.</td>
  </tr>
},
    </tbody>
</table>
